* {

    box-sizing: border-box;
    line-height: 200%;
    letter-spacing: 0.5px;

}

html, body {

    box-sizing: border-box;
    /*line-height: 100%;*/
    font-family: 'Roboto', sans-serif;
    color: #bbbbbb;

}

body {

    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    background-color: #000;

}

.container {

    position: relative;
    width: 100%;
    max-width: 762px;
    margin: 0 auto;
    padding: 100px 15px 50px;

}

h1 {

    width: 100%;
    /*height: 54px;*/
    margin: 0 auto;
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 5px;
    color: #eeeeee;

}

h1:nth-of-type(2) {

    margin-bottom: 33px;

}

h2 {

    width: 100%;
    /*height: 26px;*/
    margin: 0 auto 7px;
    font-weight: 500;
    font-size: 18px;
    /*line-height: 21px;*/
    letter-spacing: 1px;
    color: #eeeeee;

}

h3 {

    width: 100%;
    margin-top: 30px;
    font-size: 18px;
    /*line-height: 160%;*/
    font-weight: 500;
    letter-spacing: 1px;

}

p {

    width: 100%;
    margin: 0 auto;
    /*line-height: 28px;*/
    font-size: 16px;

}

b {

    font-weight: 600;
    color: #eeeeee;

}

.text {

    padding-left: 19px;
    margin-bottom: 20px;

}

.head-p {

    font-size: 16px;
    /*line-height: 21px;*/

}

.head-p p:first-of-type {

    margin-top: 43px;
    margin-bottom: 14px;

}

.head-p p:nth-of-type(2) {

    margin-bottom: 33px;

}

p br:first-of-type {
    display: none;
}

strong {
    font-weight: 500;
}

a, a:link, a:visited, a:hover, a:active {
    color: crimson;
}
