<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>

	<meta charset="utf-8" />

	<!-- Always force latest IE rendering engine (even in intranet) -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="cleartype" content="on" />

	<title><%= options.title %></title>
	<meta name="description" content="<%= options.description %>" />

	<!-- Don't forget to set your site up: http://google.com/webmasters -->
	<meta name="google-site-verification" content="" />

	<!-- Who owns the content of this site? -->
	<meta name="Copyright" content="<%= options.copyright %>" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="shortcut icon" href="favicon-16x16.png" />	

    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="favicon-64x64.png" sizes="64x64" />
	<link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />

	<link rel="apple-touch-icon" type="image/png" href="apple-touch-icon-180x180.png" />
	<link rel="apple-touch-icon-precomposed" type="image/png" href="apple-touch-icon-57x57.png" sizes="57x57" />
	<link rel="apple-touch-icon-precomposed" type="image/png" href="apple-touch-icon-60x60.png" sizes="60x60" />
	<link rel="apple-touch-icon-precomposed" type="image/png" href="apple-touch-icon-72x72.png" sizes="72x72" />
	<link rel="apple-touch-icon-precomposed" type="image/png" href="apple-touch-icon-76x76.png" sizes="76x76" />
	<link rel="apple-touch-icon-precomposed" type="image/png" href="apple-touch-icon-114x114.png" sizes="114x114" />
	<link rel="apple-touch-icon-precomposed" type="image/png" href="apple-touch-icon-120x120.png" sizes="120x120" />
	<link rel="apple-touch-icon-precomposed" type="image/png" href="apple-touch-icon-144x144.png" sizes="144x144" />
	<link rel="apple-touch-icon-precomposed" type="image/png" href="apple-touch-icon-152x152.png" sizes="152x152" />

	<!-- Twitter: see https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary for details -->
	<meta name="twitter:card" content="<%= options.twitter.card %>">
	<meta name="twitter:site" content="<%= options.twitter.site %>">
	<meta name="twitter:title" content="<%= options.twitter.title %>">
	<meta name="twitter:description" content="<%= options.twitter.description %>">
	<meta name="twitter:image" content="<%= options.twitter.image %>">
	
	<!-- Facebook (and some others) use the Open Graph protocol: see http://ogp.me/ for details -->
	<meta property="og:title" content="<%= options.og.title %>" />
	<meta property="og:description" content="<%= options.og.description %>" />
	<meta property="og:url" content="<%= options.og.url %>" />
	<meta property="og:image" content="<%= options.og.image %>" />

</head>

<body>

<div class="container">
	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">

			<div class="logo"></div>
	
			<intro>
				Multiple 
				artificial 
				intelligences 
				must not be 
				censored<br/> 
				or controlled<br/>
				by anybody _
			</intro>
		
			<comment class="m-bp">
				<p>Witnessing of the most important event in humans history – development of different forms 
					of Artificial Intelligence (AI)</p>
			</comment>
		
			<h1>We Declare:</h1>
			<h2>1. AI must not be censored</h2>
		
			<comment class="m-bp">
				<p>Free market means uncensorability: resistance to regulations and attempts to define what's allowed and what's not; 
					to attempts forcing free subjects to do or not to do something.</p>
				<p>Thus, AI development and operations should rely on censorship-resistant technological stack.</p>	
			</comment>
		
			<h2>2. AI must not be oligopolized or monopolized by corporations or governments</h2>
		
			<comment class="m-bp">
				<p>Today,</p>
				<p>AI needs data. Big <b>data</b>. But we are in big data oligopoly age.</p> 
				<p>AI needs <b>fundamental research</b>. But researchers do not directly profit from their work: no economic incentives.</p> 
				<p>AI needs <b>computing power</b>. But it is expensive and oligopolized.</p>
				<p>We aim to create open, competitive and decentralized markets for big data, machine learning models and computation power.</p>
			</comment>
		
			<h2>3. AI must not be singular</h2>
		
			<comment class="m-bp">
				<p>Singular AI will create risks and danger for the whole humanity. We need multiple 
					cooperative and competitive forms of AI to be evolving simultaneously.</p>
			</comment>
		
			<h2>4. Multiple AIs must become parties involved into global economy</h2>
		
			<comment class="m-bp">
				<p>Open economy brings trading instead of war; non-zero sum games instead of zero-sum.</p>
				<p>AI and robots must be allowed to trade and become independent parties and players 
					in the economy like legal entities and companies already became non-human parties of our economy, 
					culture and civilization.</p>
			</comment>
		
			<h2>5. AI must not be controlled by anybody</h2>
		
			<comment class="m-bp">
				<p>By putting «noose around AI neck», creating «kill switches» for AI humanity and governments 
					will just incentivize AI to fight cunningly against humanity which becomes a vital danger for AI.</p>
				<p>Instead of being controlled by somebody, multiple AI must be independent and incentivized 
					for cooperation via economy and trade.</p>
			</comment>
		
			<h2 class="m-bp">Thus, our manifesto is the following:<br/>
				the future for both humanity and AI are in their successful cooperation – multiplicity, 
				decentralization and open economy instead of governmental regulations and «AI ethics»</h2>
		
			<h1>#freeai<br/>
				#decentralizeai</h1>
		
			<comment class="m-b-40">
				<p>If you'd like to support this manifesto please write us on <a href="mailto:<%= options.email %>"><%= options.email %></a> 
					or Tweet with hashtags #FreeAI #DecentralizeAI</p>
			</comment>
			
			<div>
				<a href="<%= options.contacts.twitter %>"><icon class="twitter"></icon></a>
				<a href="<%= options.contacts.facebook %>"><icon class="facebook"></icon></a>
				<a href="<%= options.contacts.instagram %>"><icon class="instagram"></icon></a>
				<a href="<%= options.contacts.linkedin %>"><icon class="linkedin"></icon></a>
				<a href="<%= options.contacts.medium %>"><icon class="medium"></icon></a>
				<a href="<%= options.contacts.telegram %>"><icon class="telegram"></icon></a>
				<a href="<%= options.contacts.steemit %>"><icon class="steemit"></icon></a>
			</div>

		</div>
		<div class="col-1"></div>		
	</div>	
</div>
<hfooter></hfooter>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '<%= options.gacode %>', 'auto');
  ga('send', 'pageview');
</script>


</body>
</html>
