@import './fonts.scss';
@import './grid.scss';

$font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 500;
$font-height: 1.5;

* {
    color: #ffffff;
    text-align: left;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    line-height: $font-height;    
}

.brd {
    border: red 1px solid;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    background-color: #000000;
    font-size: 100%;
}

hfooter {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 164px;
    opacity: 0;
}

.logo {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/manifesto.svg');
    margin-bottom: 100px;
}

.container {
    margin: 80px auto 0 auto;
}

.m-b-40 {
    margin-bottom: 40px;
}

.m-bp {
    margin-bottom: 164px;
}

.m-b-200 {
    margin-bottom: 200px;
}

b, strong {
    font-weight: $font-weight-heavy;
}

intro {
    display: block;
    box-sizing: border-box;
    font-size: 4.15em;
    margin-bottom: 200px
}

comment {
    display: block;
    box-sizing: border-box;

    p {
        font-size: 1em;
        color: #d1d1d1;
    }
}

h1 {
    font-size: 3.5em;
    padding-bottom: 80px;
    font-weight: $font-weight-heavy;
}

h2 {
    font-size: 2em;
    padding-bottom: 40px;
    font-weight: $font-weight-heavy;
}

icon {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 16px;

    &.twitter {
        background-image: url('../images/twitter.svg');
    }

    &.facebook {
        background-image: url('../images/facebook.svg');
    }

    &.instagram {
        background-image: url('../images/instagram.svg');
    }

    &.linkedin {
        background-image: url('../images/linkedin.svg');
    }

    &.medium {
        background-image: url('../images/medium.svg');
    }

    &.telegram {
        background-image: url('../images/telegram.svg');
    }

    &.steemit {
        background-image: url('../images/steemit.svg');
    }
}

@media only screen and (max-width: $breakpoint-small) {

    .col-1 {
        display: none;
    }

    .m-b-40 {
        margin-bottom: 30px;
    }
    
    .m-b-80 {
        margin-bottom: 60px;
    }
    
    .m-b-200 {
        margin-bottom: 100px;
    }

    .container {
        margin: 82px auto 0 auto;
        padding: 0 24px 0 24px;
    }

    .logo {
        height: 80px;
        margin-bottom: 72px;
    }

    intro {
        font-size: 2.2em;
        margin-bottom: 100px
    }

    comment {
            
        p {
            font-size: 0.95em;
        }
    }

    h1 {
        font-size: 1.8em;
        padding-bottom: 35px;
    }
    
    h2 {
        font-size: 1em;
        padding-bottom: 35px;
    }

    icon {
        width: 36px;
        height: 36px;
        margin-right: 18px;
        margin-bottom: 28px;
    }
}
